{{- define "main_headnotes" -}}
  {{ partial "tochack" . }}
 {{- end -}}

{{ define "main" }}
  {{ .Content }}
    <table>
      <tbody>
        {{ range (where .Data.Pages "Section" "!=" "") }}
        <tr>
          <td>
            <span class="date">{{ .Date.Format "2006-01-02" }}:</span>
          </td>
          <td>
            <a href="{{ .RelPermalink }}">{{ .Title | markdownify }} {{ if .Draft }}DRAFT{{ end }}</a>
          </td>
        </tr>
        {{ end }}
      </tbody>
  </table>
{{ end }}
