<nav><a href="/"><img class="icon" src="/kona.png" /></a>
  {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
  </nav>

{{- define "breadcrumbnav" -}}
  {{- if .p1.Parent -}}
    {{- template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p1 )  -}}
  {{- end -}}

  {{- if (not (eq .p1 .p2)) -}}
    <a href="{{ .p1.RelPermalink }}">{{- .p1.Title -}}</a><a href="{{ .p1.RelPermalink }}" span class="no-under">&nbsp;➟</a>&nbsp;&nbsp;
  {{- end -}}
{{- end -}}

<h1>
  <a href="{{ .Permalink }}">{{ .Title }}</a>
</h1>

{{- /* TODO: use ⬎ for the last arrow */ -}}
