{{- define "main" -}}
  {{- $content_parts := split .Content "<section class=\"footnotes\" role=\"doc-endnotes\">" -}}
  {{- index $content_parts 0 | safe.HTML -}}
  {{- if .Data.Pages -}}
    <table class="index">
      <tbody>
        {{ range (sort .Data.Pages "Title").Reverse }}
        <tr>
          <td>
            <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
            {{ if .Page.Params.ledepic -}}
              {{- $image := resources.Get .Page.Params.ledepic -}}
              {{- $show_image := ($image.Resize "100x100") -}}
              <div class="blog-thumb">
                <figure>
                  <a href="{{ .Page.RelPermalink }}">
                    <img src="{{ $show_image.RelPermalink }}"/>
                  </a>
                </figure>
              </div>
            {{ end }}
          </td>
          <td>
            {{- range .Pages -}}
              {{- if eq .Kind "section" -}}
                <p><a href="{{ .Permalink }}" class="article-title">{{ .Title }}</a>
                {{ with .Pages }}
                    <small><samp>  {{ printf "%4d" (len .) }}</samp></small>
                    {{ if eq (len .) 1 }}
                    page
                    {{ else }}
                    {{- "page" | pluralize -}}
                    {{ end }}
                  </smalL>
                {{ end }}  
                </p>
              {{- else -}}
                <p><span class="date">{{ .Date.Format "Jan 02" }}</span>: <a href="{{ .Permalink }}" class="article-title">{{ .Title }}</a></p>
              {{- end -}}
            {{- end -}}
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  {{ end }}

{{ end }}

{{- define "main_footnotes" -}}
  {{- $content_parts := split .Content "<section class=\"footnotes\" role=\"doc-endnotes\">" -}}
  {{- index $content_parts 1 | safe.HTML -}}
{{- end -}}
