<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ partial "google-fonts" . }}
    {{ partial "stylesheets" . }}
  </head>
  <body>
    <header>
      <aside class="headnotes">{{- block "header_headnotes" . -}}{{ partial "breadcrumb" . }}{{- end -}}</aside>

      <main>{{- block "header_main" . -}}{{- end -}}</main>

      <aside class="footnotes">{{- block "header_footnotes" . -}}{{- end -}}</aside>

    </header>
    <main>

        <aside class="headnotes">{{- block "main_headnotes" . -}}{{- partial "byline" . -}}{{ partial "category-tags" . }}{{- end -}}</aside>

        <main>{{- block "main" . -}}{{- end -}}</main>

        <aside class="footnotes">{{- block "main_footnotes" . -}}{{- end -}}</aside>

    </main>
    <footer>

      <aside class="headnotes">{{- block "footer_headnotes" . -}}{{- end -}}</aside>

      <main>{{- block "footer_main" . -}}{{- partialCached "site-footer" . -}}{{- end -}}</main>

      <aside class="footnotes">{{- block "footer_footnotes" . -}}{{- end -}}</aside>

    </footer>
    </main>
  </body>
</html>
