{{- define "main_header_main" -}}
  {{-  .Params.subtitle -}}
{{- end -}}

{{- define "main" -}}
  {{- $content_parts := split .Content "<section class=\"footnotes\" role=\"doc-endnotes\">" -}}
  {{- index $content_parts 0 | safe.HTML -}}

  {{- if not .Params.hide_summaries -}}

    {{- $sort := .Scratch.Get "sort" | default "" -}}
    {{- $pages := slice -}}
    {{- if $sort = "chron" -}}
      {{- $pages = sort .Pages "Date" -}}
    {{- else if $sort = "rchron" -}}
      {{- $pages = sort .Pages "Date" "desc" -}}
    {{- else -}}
      {{- $pages = sort .Pages "Title" -}}
    {{- end -}}

    {{- with $pages -}}
      <hr/>
      <ul class="lede">

        {{ range .  }}
        <li {{ if .Draft }}class="draft"{{- end -}}>
          {{- partial "lede" . -}}
        </li>
        {{- end -}} 
      </ul>
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- define "main_footnotes" -}}
  {{- $content_parts := split .Content "<section class=\"footnotes\" role=\"doc-endnotes\">" -}}
  {{- index $content_parts 1 | safe.HTML -}}
{{- end -}}
