{{- define "main_headnotes" -}}
  {{ partial "tochack" . }}
 {{- end -}}

{{- define "main" -}}
  {{ .Content }}

  {{- if .Data.Pages -}}
    <table class="index">
      <tbody>
        {{ range (sort .Data.Pages "Title") }}
        <tr>
          <td>
            <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
            {{ if .Page.Params.ledepic -}}
              {{- $image := resources.Get .Page.Params.ledepic -}}
              {{- $show_image := ($image.Fit "100x100") -}}
              <div class="blog-thumb">
                <figure>
                  <a href="{{ .Page.RelPermalink }}">
                    <img src="{{ $show_image.RelPermalink }}"/>
                  </a>
                </figure>
              </div>
            {{ end }}
          </td>
          <td>
            {{- range sort .Pages "Title" -}}
              <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
            {{ end }}
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  {{ end }}
{{ end }}
