<div class="title">
  <a class="title" href="{{ .RelPermalink }}">{{.Title}}</a>
  {{ partial "byline" . }}
</div>

{{/* Show the ledepic of the article, or the ledepic
     of the category index page */}}
{{- partial "lede_or_cat_thumb" . -}}
{{- $pic := .Scratch.Get "ledepic" | default slice -}}

{{- if or .Summary $pic -}}
  <div>

    {{- if $pic -}}
      {{- $image := resources.Get $pic -}}
      {{- $show_image := ($image.Fit "75x75") -}}
      <a href="{{ .RelPermalink }}" class="ledepic">
        <figure>
          <img src="{{ $show_image.RelPermalink }}"/>
        </figure>
      </a>
    {{ end }}

    {{- with .Summary -}}
      <div class="no-p">{{- . -}}</div>
    {{- end }}

  </div>
{{ end }}
