<div class="title">
  <a class="title" href="{{ .RelPermalink }}">{{.Title}}</a>
  {{ partial "byline" . }}
</div>

{{- $pic := slice -}}

{{- with .Params.ledepic -}}
  {{- $pic = . -}}
{{- else -}}
  {{- with .Params.categories -}}
    {{- $cat := first 1 . -}}
    {{- with $cat -}}
      {{- $cat_path := (printf "%s%s" "/categories/" (delimit . "" | urlize)) -}}
      {{- with $.Site.GetPage $cat_path -}}
        {{- $catpic := .Params.ledepic | default "" -}}
        {{- $pic = .Params.ledepic | default $catpic | default "" -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if or .Summary $pic -}}
  <div>

    {{- if $pic -}}
      {{- $image := resources.Get $pic -}}
      {{- $show_image := ($image.Resize "75x75") -}}
      <a href="{{ .RelPermalink }}" class="ledepic">
        <figure>
          <img src="{{ $show_image.RelPermalink }}"/>
        </figure>
      </a>
    {{ end }}

    {{- with .Summary -}}
      <div class="no-p">{{- . -}}</div>
    {{- end }}

  </div>
{{ end }}
