{{- $parent_list := slice -}}
{{- $s := newScratch -}}
{{- range where (where site.Pages "Params.notoc" "ne" true) "IsHome" "ne" true  -}}
  {{ $purl := .Parent.RelPermalink }}
  {{ $url := .RelPermalink }}
  {{ $here := . }}
  {{ $pages := slice }}
  {{ $oldpages := slice }}
  {{ $olddict := $s.Get "pp_dict" -}}

{{ if $olddict }}
  {{ $oldpages = index $olddict $purl }}
  {{- if $oldpages -}}
    {{- $pages = $oldpages | append (slice $here) -}}
  {{- else -}}
    {{- $pages = slice $here -}}
  {{ end }}
{{ end }}

{{- $s.SetInMap "pp_dict" $purl $pages -}}

{{- end -}}

{{- return $s.Get "pp_dict" }}
