{{- $sibling_pages := slice -}}
{{- $sorted_pages := slice -}}
{{- $next := slice -}}
{{- $prev := slice -}}
{{- $sort := slice -}}
{{- $map := partialCached "pages_by_relpermalink" "foo" -}}

{{- with .Parent -}}
  {{- $sort = .Params.sort | default "" -}}
  {{- $sibling_pages =  index $map .RelPermalink -}}
{{- end -}}

{{- if $sibling_pages -}}
  {{- if (eq $sort "chron") -}}
    {{- $sorted_pages = sort $sibling_pages "Date"  -}}
    {{- $next = where $sorted_pages "Date" "gt" .Date -}}
    {{- $prev = where $sorted_pages "Date" "lt" .Date -}}
  {{- else if (eq $sort "rchron") -}}
    {{- $sorted_pages = sort $sibling_pages "Date" "desc" -}}
    {{- $next = where $sorted_pages "Date" "lt" .Date -}}
    {{- $prev = where $sorted_pages "Date" "gt" .Date -}}
  {{- else -}}
    {{- $sorted_pages = sort $sibling_pages "Title" -}}
    {{- $next = where $sorted_pages "Title" "gt" .Title -}}
    {{- $prev = where $sorted_pages "Title" "lt" .Title -}}
  {{- end -}}
  {{- .Scratch.Set "sorted_sibs" $sorted_pages -}}
{{- else -}}
  {{- .Scratch.Set "sorted_sibs" .Site.Home -}}
{{- end -}}

{{- .Scratch.Set "next" $next -}}
{{- .Scratch.Set "prev" $prev -}}
{{- .Scratch.Set "next_page" (first 1 $next) -}}
{{- .Scratch.Set "prev_page" (first 1 $prev) -}}


