<nav class="foot-nav">
  <span>
    {{- if ne .Page.Title "About" -}}
    <a href="/about">About</a>
    {{- else -}}
    About
    {{- end -}}
  </span>
  <span>
    {{- if ne .Page.Title "Categories" -}}
    <a href="/categories">Categories</a>
    {{- else -}}
    Sitemap
    {{- end -}}
  </span>
  <span>
    {{- if ne .Page.Title "Privacy" -}}
    <a href="/about/privacy">Privacy</a>
    {{- else -}}
    Privacy
    {{- end -}}
  </span>
  <span>
    <a href="/index.xml">RSS: <img class="icon" alt="RSS Feed" src="TODO"/></a>
  </span>
  <span class="right">Contact</a>: <a href="mailto:TODOTODOTO"><img class="icon" alt="email" src="TODO"/></a>
  </span>
</nav>
<div class="copyright small">
  {{- partial "copyright" . -}}
</div>
