{{- if . -}}
  {{ $t_range := site.Params.toc_range -}}
  <ol>
    {{- $extra_next := sub (len .) $t_range -}}

    {{- range first $t_range . }}
      <li><a href="{{- .RelPermalink -}}">{{- partial "shorttitle" . }}</a></li>
    {{- end -}}

    {{- if eq $extra_next 1 -}}
      {{- range last 1 . }}
        <li><a href="{{- .RelPermalink -}}">{{- partial "shorttitle" . }}</a></li>
      {{- end -}}
    {{- else if eq $extra_next 0 -}}
    {{- else -}}
      <li>{{ $extra_next }} more</li>
    {{- end -}}

  </ol>
{{- end -}}
