{{- $sibling_pages := .Scratch.Get "sibling_pages" -}}
{{- $this_page := . -}}
{{- $this_section := .CurrentSection -}}
{{- $parent := .Parent -}}

<ol>
  <li>
    {{- if .IsHome -}}

      {{- partial "tochack" $this_page -}}

    {{- else -}}

      <a href="{{- $parent.RelPermalink -}}" title="Up to {{- partial "shorttitle" $parent }}">{{- partial "shorttitle" $parent }}</a>
 
      {{- if $sibling_pages -}}
        <ol>
          {{- range $sibling_pages -}}
            {{- if eq .RelPermalink $this_page.RelPermalink -}}
              <li class="you-are-here">

                {{- partial "tochack" $this_page -}}

              </li>
            {{- else -}}
              <li>
                <a href="{{- .RelPermalink -}}">{{- partial "shorttitle" . }}</a>
              </li>
            {{- end -}}
          {{- end -}}

      {{- else -}}

        {{- partial "tochack" $this_page -}}

      {{- end -}}

    {{- end -}}
  </li>
</ol>
