{{- if eq .Section "blog" -}}
  {{ .TableOfContents }}
{{- else -}}
  {{- $this_page := . -}}
  {{- $siblings := where site.RegularPages "Section" .Section -}}
  {{- if .Pages -}}
    <b>{{ partial "shorttitle" . }}</b>
    <ul class="toc">
      <li>
        <ul>
          <li>
            {{ partial "tochack" . }}
          </li>
        </ul>
      </li>
      {{- range (sort .Pages "Title").Reverse }}
        <li>
          <a href="{{ .RelPermalink }}">{{ partial "shorttitle" . }}</a>
        </li>
      {{- end -}}
    </ul>
  {{- else if $siblings -}}
    <a href="{{ .Section }}">{{ .Section }}</a>
    <ul class="toc">
      {{- range (sort $siblings "Title").Reverse }}
        <li>
          {{ if (eq $this_page .) }}
            <b>{{ partial "shorttitle" . }}</b>
            {{ partial "tochack" .}}
          {{ else }}
            <a href="{{ .RelPermalink }}">{{ partial "shorttitle" . }}</a>
          {{ end }}
        </li>
      {{- end -}}
    </ul>
  {{- else -}}
    <b>{{ partial "shorttitle" . }}</b>
  {{- end -}}
{{- end -}}
