<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="sa-brand-identity.css"/>
  </head>
  <body>
    <header>
      <aside class="headnotes"></aside>
      <main>{{ .Title }}</main>
      <aside class="footnotes"></aside>
    </header>
    <main>
      <header>
        <aside class="headnotes"></aside>
        <main></main>
        <aside class="footnotes"></aside>
      </header>
      <main>
        <aside class="headnotes"></aside>
        <main>            
          <blockquote>
            I return to myself: creature swimming alone in puddles of time.
          —<a href="http://www.powells.com/book/-9780872863323">Ellen Ullman</a>
          </blockquote>
        </main>
        <aside class="footnotes"></aside>
      </main>
      <footer>
        <aside class="headnotes"></aside>
        <main></main>
        <aside class="footnotes"></aside>
      </footer>
    </main>
    <footer>
        <aside class="headnotes"></aside>
      <main>{{- partial "site-footer" . -}}</main>
        <aside class="footnotes"></aside>
    </footer>
    </main>
  </body>
</html>
