{{- define "header_main" -}}
<div id="homepage-title-wrapper">
  <div>
    {{- if .Site.Params.home_loaf -}}
      <img src="{{- .Site.Params.home_loaf -}}"/>
      {{- else -}}
      Home
      {{- end -}}
  </div>
  <h1 id="page-title">
    {{- .Site.Title -}}
  </h1>
</div>
{{- end -}}

{{- define "main" -}}
  {{- $content_parts := split .Content "<section class=\"footnotes\" role=\"doc-endnotes\">" -}}
  {{- index $content_parts 0 | safe.HTML -}}

  {{ $pages :=  where .Site.RegularPages "Type" "in" $.Site.Params.mainSections }}
  {{- with (sort $pages "Title") -}}
    <ul class="lede">
      {{ range . }}
      <li {{ if .Draft }}class="draft"{{- end -}}>
        {{- partial "lede" . -}}
      </li>
      {{- end -}} 
    </ul>
  {{- end -}}

{{- end -}}

{{- define "main_footnotes" -}}
  {{- $content_parts := split .Content "<section class=\"footnotes\" role=\"doc-endnotes\">" -}}
  {{- index $content_parts 1 | safe.HTML -}}
{{- end -}}
